@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body {
    text-align: center;
    padding: 0px;
    margin: auto 0;
    height: 100vh;
    background-color: rgb(91,228,97);
}

* {
    font-family: 'Protest Strike', sans-serif;
}

button {
    font-size: 15px;
    letter-spacing: 5px;
    height: 50px;
    width: fit-content;
    padding: 15px;
    background-color: indianred;
    color: white;
    margin-top: 250px;
    border: none;
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
}

h1#colorcodeh1 {
    margin-top: 20px;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
}